{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "useTabs": false,
    "embeddedLanguageFormatting": "auto"
}